{% extends "structure/base.html" %}
{% load static %}
{% block title %}
  Emenda {{emenda}}
{% endblock title %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'mutirao/style.css' %}">
<script src="https://kit.fontawesome.com/a6881808f6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body_classes %}-white{% endblock %}

{% block metatags %}
<meta name="description" content="{{emenda}}">
<meta property="og:title" content="Mutirão de Emendas">
<meta property="og:site_name" content="Wikilegis">
<meta property="og:description" content="{{emenda}}">
<meta property="og:image" content="{{ protocol }}{{ site_url }}{% static 'img/share-wikilegis.jpg' %}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="300">
<meta property="og:type" content="website">
<meta property="og:type" content="website">
<meta property="twitter:image" content="{{ protocol }}{{ site_url }}{% static 'img/share-wikilegis.jpg' %}">
{% endblock metatags %}

{% block content %}

<div class="mutirao-header">
        <h1>Mutirão Legislativo</h1>
        <p>Nos ajude a analisar e avaliar as emendas de projetos legislativos.</p>          
</div>

<main id="emenda" class="document-body js-documentBody">
            
    <header class="js-documentHeader">
        <div class="info">
          <div class="group">
            <p>{{emendas.0.pl.tipo}} {{emendas.0.pl.numero}}/{{emendas.0.pl.ano}} <a href="{{emenda.0.pl.arquivo.url}}">⬇</a></p>
            <div class="small">{{emendas_total}} emendas protocoladas.</div>
            <div class="small">{{emendas_analisadas}} emendas já analisadas.</div>
            <hr>

          </div>
          </div>
        
        {% if user.is_authenticated %}
          <p>
            <center><a class="app-button -green" href="{% url 'mutirao_rnd' tipo=emendas.0.pl.tipo numero=emendas.0.pl.numero ano=emendas.0.pl.ano %}">Emenda aleatória.</a></center>
        </p>
        {% else %}
            <p>
                <center><a class="app-button -green" href="/accounts/login/?next={{request.path}}">Faça login para começar a avaliar.</a></center>
            </p>
        {% endif %}

      </header>
    <div class="" style="width:100%">
    
    <div class="" style="width:100%;float:right;">
      <h1>Lista de Emendas do {{emendas.0.pl.tipo}} {{emendas.0.pl.numero}}/{{emendas.0.pl.ano}}</h1>
       <ul>
         {% for e in emendas %}
         <li><p><a href="{% url 'emenda' tipo=e.pl.tipo numero=e.pl.numero ano=e.pl.ano numero_emenda=e.numero ano_emenda=e.ano %}">{{e.numero}}/{{e.ano}}</a>: {{e.ementa}}
          <br>
        <span class="small">({{e.autor}})</span>
      </p>
        </li>
         {% endfor %}
       </ul>
    </div>
    
    <div style="width:25%;float:right;">
    
    </div>
    </div>
</main>

{% endblock content %}

{% block page_js %}
{% endblock page_js %}
