{% extends "structure/base.html" %}
{% load static %}

{% block title %}
  Entrar
{% endblock title %}
{% block extracss %}
<script src="https://kit.fontawesome.com/a6881808f6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main class="projects-list loginandregister">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

  <div class="header"><h1>Entrar</h1></div>

<form style="margin:0 auto;width:50%" class="document-card" id="login_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  
  {{ form.as_p }}

  {% if redirect_field_value %}
  
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button type="submit">Entrar</button>
  <a href="{% url 'account_reset_password' %}">Esqueceu a senha?</a> <a href="{% url 'account_signup' %}">Cadastre-se</a>

</form>
    <!-- {% load account socialaccount %}

    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list">
    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-outline-dark" 
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fab fa-{{provider.name|lower}}" id="social_icon"></i>{{provider.name}}</a>
    {% endfor %}
    </ul>
  -->
  </main>
{% endblock %}
