{% extends "structure/base.html" %}
{% load static %}

{% block title %}
  Cadastre-se
{% endblock title %}


{% block content %}
<main class="projects-list loginandregister">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
  

<div class="header"><h1>Cadastre-se</h1></div>

<p class="exist_account_info">Você já tem uma conta? <a href="{{ login_url }}">Acesse</a>.</p>
  <form style="margin:0 auto;width:50%" class="document-card" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

    {{ form.as_p }}

  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="pseudolink" type="submit">Cadastre-se</button>
</form>

</main>
{% endblock %}
