{% load static %}
<div class="hero">
  <img src="{% static 'img/wikihelou-horizontal.png' %}" alt="Wikilegis">
  <h1>Dê <span class="bordo-colour">sua opinião</span> em propostas legislativas</h1>
  <p>Analise as propostas legislativas, contribua dando sua opinião em trechos do texto e avalie as opiniões de outros cidadãos.</p>
  <a class="app-button -green js-howtoButton">Como participar?</a>

  <h1><span class="bordo-colour">Sugira</span> um Projeto de Lei</h1>
  <p>Você tem uma ideia e acha que ela pode virar lei? Deixe sua sugestão para nossa equipe avaliar</p>
  <a class="app-button -green" href="/sugestoes/">Sugerir um projeto?</a>

</div>