{% load static %}

<div class="suggestion-input js-suggestionInput">
  <div class="content">
    <button class="close-icon js-close" type="button"><img class="icon" src="{% static 'img/close.svg' %}"></button>
    <h3>Você destacou o trecho:</h3>
    <div class="text">
      <p><span class="text-highlight js-selectedText"></span></p>
    </div>
    {% if request.user.is_authenticated %}
      <span class="info-text">
        <h3>Digite sua opinião sobre ele:</h3>
      </span>
      <div class="input">
        <input class="js-input" type="text" name="">
        <div class="send js-send">
          <img class="icon" src="{% static 'img/send.svg' %}">
        </div>
      </div>
      <span class="error js-inputError"></span>
    {% else %}
      <h3 class="notice"><a class="js-loginButton" href="/accounts/login/?next={{request.path}}">Faça login</a> para dar sua opinião sobre ele.</h3>
      
      {% load account socialaccount %}

      {% get_providers as socialaccount_providers %}
      <ul class="social_providers_list">
      {% for provider in socialaccount_providers %}
          <a title="{{provider.name}}" class="btn btn-outline-dark" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params next=request.path %}"><i class="fab fa-{{provider.name|lower}}" id="social_icon"></i>{{provider.name}}</a>
      {% endfor %}
  
    {% endif %}
  </div>
</div>
