.mutirao-header {
    margin-top:5em;
    margin-left:5em;
}

#id_justificativa {
    border:1px solid black;
    -webkit-appearance: textarea;
}

#id_apoiar {
    -webkit-appearance: menulist;
}

.form {
    width:80%;
}
.small {
    font-size: 0.8em;
}

.small a {
    text-decoration: underline !important;
    color: #801248 !important;
}